@import "tailwindcss";

:root {
  --background: #fcfcfa;
  --foreground: #121212;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), ui-monospace, monospace;
}

a {
  text-decoration: underline;
  color: #111827;
  padding: 0 2px;
  transition: all 0.5s;
}

a:hover {
  color: #f9fafb;
  background-color: #374151;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  background-color: transparent;
}
