section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

#email {
    font-family: monospace;
}

h1 {
    font-family: monospace;
    padding-right: 30px;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    color: #222;
    font-family: georgia;
    background-color: #fcfcfa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
