* {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 84vh;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    background-color: rgb(189, 219, 255);
    border-radius: 15px;
    align-items: center;
    color:black;
    list-style-type: none;
}

body {
    background-color: rgb(255, 255, 254);
}

/*header*/

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(231, 231, 231);
    font-size: 30px;
    margin-bottom:1vh;
    height: 8vh;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    width:8vh;
    background-color: rgb(189, 219, 255);
    margin-right: 10px;
}

.home {
    height: 6vh;
    width: 6vh;
    display: flex
}

/*footer*/

footer {
    align-items: center;
    height: 6vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    position: relative;
}

footer a {
    margin: 0 4px;
    padding: 8px;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: background-color .15s linear;
}

footer a:hover {
    background-color: rgb(169, 209, 255);
}

/*index*/

#index-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: transparent;
}

#headshot {
    border-radius: 500px;
    width :210px ;
    height :210px;
    margin-right: 45px;
}

#index-main {
    height: 43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main a {
    text-decoration: none;
    width: 290px;
    height: 290px;
    background-color: rgb(189, 219, 255);
    justify-content: center;
    font-size: 30px;
    transition: transform 0.2s ease;
    flex-direction: column;
}

#header-text-left {
    font-size:72px;
    font-weight: 500;
}

#header-text-right{
    font-size:40px;
}

#index-main a:hover {
    transform:scale(1.03);
    background-color: rgb(169, 209, 255);
}

#educationicon, #gamesicon {
    width :150px;
    height:150px;
}

#experiencesicon, #projectsicon {
    width : 130px;
    height: 130px;
    margin-bottom: 20px;
}

/*courses*/

.school{
    padding: 10px 0;
    font-size: 32px;
    font-weight: 500;
}

.courses .item{
    margin: 12px;
    height:60px;
    font-size: 20px;
    width: 640px;
}

.courses .item span{
    background-color: rgb(129, 188, 255);
    padding:4px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 10px;
}

.courses>li p{margin-left:10px}

/*experiences*/

#experiences .item {
    height: 400px;
}
#experiences .item-title h2 {
    display: flex;
    align-items: center;
}

.experiences-icon{
    width: 55px;
    height:55px;
    border-radius: 20%;
    margin-right: 15px;
}

.bullets>li{
    margin:20px 20px 20px 30px;
    list-style-type: disc;
    font-size: 1.25em;
}

/* Projects */

#projects .item {
    width: 730px;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.github-icon{
    width: 35px;
    height: 35px;
}

/* Projects and Experiences */

#experiences .item, #projects .item{
    position: relative;
    width: 730px;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.item-title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.item-title h2{
    font-size: 3em;
    font-weight:500;
}

.item-title h3{
    font-weight:300;
    font-style: italic;
    color:rgb(102, 102, 102);
    font-size: 1.3em;
}

.project-picture {
    border-radius: 6px;
    width: 600px;
    height: 350px;
    margin: 20px 0;
}

