section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email {
    font-family: monospace;
}

h1 {
    font-family: monospace;
    padding-right: 20px;
}

body {
    color: #222;
    font-family: georgia;
    background-color: #fcfcfa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}
